@model QLQA.Web.Models.RegisterVM
@{
    ViewData["Title"] = "DangKy";
}

<div class="container-fluid py-5">
    <div class="container py-5"
    <h1 class="mb-4">Đăng ký</h1>
    <form asp-action="DangKy">
        <div class="row"
    </form>
</div>



